/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
body{
    width:100%;
    min-height:100vh;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .logo img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    cursor: pointer;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
 ul li{
    padding-bottom: 10px;
}
 ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}
 ul li a:hover{
    color: #007bff;
}

 .cta a{
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
 .cta a:hover{
    background-color: #0056b3;
}
nav .small-screen-menu-icons{
    display:none;
}
nav .small-screen-menu-icons img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
}
.small-screen-menu{
    display:none;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 280px;
    z-index: 1000;
    padding: 20px 40px;
    height:100vh;

}
.small-screen-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.small-screen-menu ul a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.small-screen-menu ul a:hover{
    color: #007bff;
}


/* .hero-wrapper{
  position: relative;

} */


/* hero section */
.hero-section{
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: red;
}
.swimVideo{
  width: 100vw !important;
  height: 100%;
  background-color: green;
  object-fit: cover;

}
.swimVideo source{
  width: 100vw !important;
  height: 100%;
  background-color: green;
  object-fit: cover;
}
.hero-text{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0), rgba(1, 30, 135, 0.918));
   
  color: white;
  text-align: center;
}

.hero-text h1{
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero-text a{
  text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top:40px;
    transition: background-color 0.3s;
}
.hero-text a:hover{
    background-color: #0056b3;
}

/* highlights section */


.highlights-section{
  position: relative;
  top: -100px;
  z-index: 999;
}


.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 40px;
    width: 80%;
    margin: auto;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.283);
    background-color: #fff;
    z-index: 999;
    border-radius: 20px;
    
 
    /* flex-wrap: wrap; */
}

.highlight{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
    /* max-width: 250px; */
    flex: 1;
    gap: 20px;
    transition: all 0.3s;
    text-align: left;
    padding: 10px 20px;
    border-radius: 10px;
    cursor:pointer;
    height: 300px;
   
  }

  .highlight:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  .highlight h3{
    font-size: 1.5rem;
    color: #007bff;
    font-weight: 600;
  }
  .highlight img{
    height: 60px;
    width: 60px;
    object-fit: cover;
  }

  .highlight h4{
    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
  }




/* modal or popup  */

.swimming-popup{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}
iframe{
    width: 80%;
    height: 70%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.swimming-popup .close-icon{
    position: fixed;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
   
}


@media screen and (max-width: 900px) {
   nav .nav-links{
    display:none;
   }
   nav .cta{
    display:none;
   }
    nav .small-screen-menu-icons{
     display:block;
    }
    .small-screen-menu{
        display:flex;
        flex-direction: column;
        gap: 40px;
    }


    .highlights{
        flex-direction: column;
        padding: 20px 10px;
        gap: 20px;
    }

    .highlight{
      border: 1px solid #ccc;
      height: auto;
      width:100%;
    }
    iframe{
        width: 90%;
        height: 50%;
    } 
    
}

.part {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 82px;
    padding: 20px;
    }
    .tick {
        width: 15px;
         }
        
    .man {
        width: 10rem;
        height: 15rem;
        object-fit: cover;
     border-radius: 10px;
         }
.peeps {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 10px;
    }
.part button{
    background-color: #007bff;
    color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
     }

.part button:hover {
    background-color: #0056b3;
     }
.part h3 {
    font-weight: 600;
    }
.be{
   display: flex;
   flex-direction: column;
   gap: 10px;
 }

 @media screen and(max-width: 900px) {
    .part{
         display: block;
    }
    
 }







































